@using IAmFara.Bootstrap4.ComponentModels
@using IAmFara.Core.Dynamic
@model ExchangedData
@{
    var convertedModel = Model.Cast<AlertDataModel>(typeof(Alert));
    var alertExtraClass = convertedModel.HasDismiss ? "alert-dismissible fade show" : "";
}

<div class="alert @convertedModel.GetBootstrapClass() @alertExtraClass" role="alert">
    @if (!string.IsNullOrWhiteSpace(convertedModel.Header))
    {
        <h4 class="alert-heading">@convertedModel.Header</h4>
    }

    <p>@convertedModel.Content</p>

    @if (!string.IsNullOrWhiteSpace(convertedModel.AdditionalContent))
    {
        <hr>
        <p class="mb-0">@convertedModel.AdditionalContent</p>
    }

    @foreach (var component in convertedModel.NestedComponents)
    {
        @await Component.InvokeAsync(component.GetComponentName(), component);
    }

    @if (convertedModel.HasDismiss)
    {
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    }
</div>